@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none !important;
    }
}

@layer components {
    [x-show] {
        transition-property: opacity, transform;
    }
}
